<!--{eval
$language = C::m('#ankix#ankix_lang')->getLanguage();
$lang = C::m('#ankix#ankix_lang')->getAll();
}-->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{$setting[page_title]}</title>
  <link rel="icon" href="{$plugin_path}/template/static/ankix.jpg" type="image/png">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/libs/mwt/4.0/mwt.min.css">
  <link type="text/css" rel="stylesheet" href="{$plugin_path}/template/src/base.css">
  <script type="text/javascript" src="$_G['siteroot']static/js/common.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/mwt/4.0/mwt.min.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/libs/requirejs/2.1.9/require.js"></script>
  <script type="text/javascript" src="{$plugin_path}/template/src/japp.js" charset="utf-8"></script>
</head>
<body>
  <div id="frame"></div>
  <div id="ucpop" style="display:none;">
    <ul>
      <li><a href="{$siteurl}member.php?mod=logging&action=logout"><i class="sicon-logout"></i> 退出系统</a></li>
    </ul>
  </div>
<script>
// 全局参数
var charset='{CHARSET}',cookiepre='{$_G[config][cookie][cookiepre]}',cookiedomain='{$_G[config][cookie][cookiedomain]}',cookiepath='{$_G[config][cookie][cookiepath]}';
var language='{$language}';
var lang = {echo json_encode($lang);};
var setting = {echo json_encode($setting);};
var nav = {echo json_encode($nav)};
var dz = {
	// 基础信息
	controller : '{$controller}',
	siteurl    : '$_G['siteurl']',
	pluginpath : '{$plugin_path}',
	ajaxapi    : '{$plugin_path}/index.php?version=4&module=',
	seccodeurl : '{$plugin_path}/index.php?version=4&module=seccode',
	// 用户信息
	uid      : $_G[uid],
	groupid  : $_G[groupid],
	username : '$_G['username']',
    email    : '$_G['member']['email']',
	avatar   : '{avatar($_G['uid'],'',true)}'
};
// 选中top菜单
function activeTopNav(name){
    jQuery('[name=navitem]').removeClass('active');
    jQuery('#navitem-'+name).addClass('active');
    var jparents = jQuery('#navitem-'+name).parents('li');
    if (jparents.length>1) {
        var jp = jparents.last();
        if (!jp.hasClass('menu-open')) {
            jp.removeClass('menu-close').addClass('menu-open');
        }
    }
}
// 设置语言
function setlang(l){setcookie('lang',l);window.location.reload();}

function titleCase3(s) {
  return s.toLowerCase().split(/\s+/).map(function(item, index) {
    return item.slice(0, 1).toUpperCase() + item.slice(1);
  }).join(' ');
}
function lan(txts,notTitleCase) {
    if (!is_array(txts)) {
        txts = [txts];
    }
    var rs = [];
    for (var i=0;i<txts.length;++i) {
        var txt = txts[i];
        var v = lang[txt] ? lang[txt] : txt;
        rs.push(v);
    }
    var sp = ' ';
    if (language=='zh') sp = '';
    var str = rs.join(sp);
    if (notTitleCase) return str;
    return titleCase3(str);
}

var japp=new JApp('{$plugin_path}/template/src/');
japp.init();
mwt.showWaterMark(dz.email);
</script>


